node_modules
yarn-error.log
lerna-debug.log
.DS_Store
.nx
dist
coverage
metrics/data
packages/snap-preact-demo/tests/cypress/videos
packages/snap-preact-demo/tests/cypress/screenshots
packages/snap-preact-demo/.lighthouseci
packages/snap-preact-demo/tests/lighthouse/runs
packages/snapps/*/
packages/**/docs
docs/snap-docs.json