<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./assets/styles.css">
	<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/styles/default.min.css">
	<script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/highlight.min.js"></script>
	<script src="https://kit.fontawesome.com/c1798fb82d.js" crossorigin="anonymous"></script>
	<title>Docs</title>
</head>
<body>
	<div id="app"></div>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/vue-router@4"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

	<script>
		const documents = [
			{
				categoryName: 'Snap',
				links: [
					{
						label: 'About Snap',
						route: '/',
						type: 'readme',
						url: './docs/GETTINGSTARTED.md'
					}, {
						label: 'Getting Started',
						route: '/start',
						sublinks: [
							{
								label: 'Setup',
								route: '/start-setup',
								type: 'readme',
								url: './docs/SETUP.md'
							}, {
								label: 'Installation',
								route: '/start-usage',
								type: 'readme',
								url: './docs/INSTALLATION.md',
							}, {
								label: 'Client',
								route: '/start-client',
								type: 'readme',
								url: './docs/CLIENT.md',
							}, {
								label: 'Search',
								route: '/start-search',
								type: 'readme',
								url: './docs/SEARCH.md',
							}, {
								label: 'Autocomplete',
								route: '/start-autocomplete',
								type: 'readme',
								url: './docs/AUTOCOMPLETE.md',
							}, {
								label: 'Finder',
								route: '/start-finder',
								type: 'readme',
								url: './docs/FINDER.md',
							}, {
								label: 'Integration',
								route: '/start-integration',
								type: 'readme',
								url: './docs/INTEGRATION.md',
							}
						]
					}, {
						label: 'API Docs',
						route: '/snap-api-docs',
						type: 'iframe',
						url: 'https://searchspring.github.io/snapi-oas/'
					}, {
						label: 'Snapi Explorer',
						route: '/snap-explorer',
						type: 'iframe',
						url: 'https://searchspring.github.io/snapi-explorer/'
					}
				]
			}, {
				categoryName: 'Packages',
				links: [
					{
						label: 'Controller',
						route: '/controller',
						type: 'readme',
						url: './packages/snap-controller/README.md',
						sublinks: [
							{
								label: 'Abstract',
								route: '/controller-abstract',
								type: 'readme',
								url: './packages/snap-controller/src/Abstract/README.md',
							},
							{
								label: 'Autocomplete',
								route: '/controller-autocomplete',
								type: 'readme',
								url: './packages/snap-controller/src/Autocomplete/README.md',
							},
							{
								label: 'Finder',
								route: '/controller-finder',
								type: 'readme',
								url: './packages/snap-controller/src/Finder/README.md',
							},
							{
								label: 'Search',
								route: '/controller-search',
								type: 'readme',
								url: './packages/snap-controller/src/Search/README.md',
							},
							{
								label: 'Typedocs',
								type: 'external',
								url: 'https://searchspring.github.io/snap/packages/snap-controller/docs/',
								icon: 'fas fa-external-link-alt fa-1x'
							}, 
						]
					}, {
						label: 'Event Manager',
						route: '/event-manager',
						type: 'iframe',
						url: './packages/snap-event-manager/docs/'
					}, {
						label: 'Client',
						route: '/client',
						type: 'readme',
						url: './packages/snap-client/README.md',
					}, {
						label: 'Logger',
						route: '/logger',
						type: 'iframe',
						url: './packages/snap-logger/docs/'
					}, {
						label: 'Store',
						route: '/store-mobx',
						type: 'iframe',
						url: './packages/snap-store-mobx/docs/'
					}, {
						label: 'Profiler',
						route: '/profiler',
						type: 'iframe',
						url: './packages/snap-profiler/docs/'
					}, {
						label: 'Toolbox',
						route: '/toolbox',
						type: 'iframe',
						url: './packages/snap-toolbox/docs/'
					}, {
						label: 'Url Manager',
						route: '/url-manager',
						type: 'iframe',
						url: './packages/snap-url-manager/docs/'
					}
				]
			}, {
				categoryName: 'Components',
				links: [
					{
						label: 'React',
						route: '/snap-preact-components',
						type: 'iframe',
						url: './packages/snap-preact-components/docs/'
					}
				]
			}, {
				categoryName: 'Links',
				links: [
					{
						label: 'Demo',
						type: 'external',
						url: 'http://try.searchspring.com',
						icon: 'fas fa-external-link-alt fa-1x'
					}, 
					{
						label: 'Github Repository',
						type: 'external',
						url: 'https://github.com/searchspring/snap',
						icon: 'fas fa-external-link-alt fa-1x'
					},
					{
						label: 'Report an Issue',
						type: 'external',
						url: 'https://github.com/searchspring/snap/issues',
						icon: 'fas fa-external-link-alt fa-1x'
					}
				]
			}
		];

		const App = {
			data() {
				return {
					documents
				}
			},
			computed: {
				routes() {
					const routeMap = this.documents.reduce((acc, section) => {
						section?.links?.forEach((link) => {
							if (link.route) {
								acc[link.route] = link;
							}

							link?.sublinks?.forEach((sublink) => {
								if (sublink.route) {
									acc[sublink.route] = sublink;
								}
							})
						});

						return acc;
					}, {});

					return routeMap;
				},
			},
			template: `
				<Navigation :documents="documents"></Navigation>

				<div id="content">
					<router-view :routes="routes"></router-view>
				</div>
			`
		}

		const app = Vue.createApp(App);

		app.component('Content', { 
			props: ['routes'],
			template: `
				<iframe v-if="routeData.type == 'iframe'" :src="routeData.url"></iframe>
				<Markdown v-else-if="routeData.type == 'readme'" :src="routeData.url" />
			`,
			computed: {
				currentRoute() {
					return this.$route.path;
				},
				routeData() {
					return this.routes[this.currentRoute]
				}
			}
		});

		app.component('Markdown', { 
			props: ['src'],
			template: `
				<div id="markdown" v-html="markedHTML"></div>
			`,
			data() {
				return {
					markdown: '',
				}
			},
			watch: {
				src() {
					this.getMarkdown(this.src);
				}
			},
			computed: {
				markedHTML() {
					return marked(this.markdown);
				}
			},
			created() {
				this.getMarkdown(this.src);
			},
			updated() {
				window.highlight();
			},
			methods: {
				async getMarkdown(file) {
					this.markdown = '';
					const response = await fetch(file);
					let text = await response.text()
					this.iframe = "";
					this.markdown = text;
				}
			}
		});

		app.component('Link', {
			props: ['link'],
			template: `
				<router-link v-if="link.route" :key="link.route" :to="'' + link.route" :class="link.route === $route.path ? 'active' : ''">
					{{link.label}}
				</router-link>
		
				<a v-else-if="link.type == 'external'" :href="link.url" target="_blank">
					{{link.label}}
					<i v-if="link.icon" :class="link.icon"></i>
				</a>
			`,
		});

		app.component('Navigation', {
			props: ['documents'],
			components: ['Link'],
			data() {
				return {
					navVisible: true,
				}
			},
			computed: {
				currentRoute() {
					return this.$route.path;
				}
			},
			methods: {
				toggleNav() {
					this.navVisible = !this.navVisible
				},
				inRoute(link) {
					if (link?.route) {
						const includedRoutes = [link.route];

						link.sublinks?.forEach(sublink => includedRoutes.push(sublink.route));

						return includedRoutes.includes(this.currentRoute);
					}
				}
			},
			template: `
				<div id="navigation-wrapper">
					<router-link :key="'/'" :to="'/'">
						<img src='./packages/snap-preact-components/src/assets/searchspring-logo.svg' />
					</router-link>

					<span class="collapseNav" @click="toggleNav"><i class="fas fa-bars fa-2x"></i></span>
					
					<div id="navigation" v-if="navVisible">
						<div v-for="section in documents" class="section">
							<h3>{{ section.categoryName }}</h3>
							<ul class="links">
								<li v-for="link in section.links">
									<Link :link="link"/>

									<ul v-if="link.sublinks && inRoute(link)" class="sublinks">
										<li v-for="sublink in link.sublinks">
											<Link :link="sublink"/>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			`,
		});

		const routes = [
			{ path: '/',      component: app.component('Content') },
			{ path: '/:path', component: app.component('Content') },
		]

		const router = VueRouter.createRouter({
			history: VueRouter.createWebHashHistory(),
			routes,
		});

		app.use(router);

		app.mount('#app');

		window.highlight = function() {
			document.querySelectorAll('pre code').forEach((block) => {
				hljs.highlightBlock(block);
			});
		}
	</script>

</body>
</html>