html {
	box-sizing: border-box;
	color: #222;
}

body {
	margin: 0;
	background: #fafafa;
	font-family: 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: #4c3ce2;
}

a:hover {
	text-decoration: underline;
}

p, table {
	font-family: 'Roboto', sans-serif;
}

table {
	border-collapse: collapse;
	background-color: #ffffff;
	border-radius: 3px;
	width: 100%;
	box-shadow: 0 0 1px rgb(0 0 0 / 35%);
}

table thead {
	background-color: #00cee1;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
}

table tr:nth-child(even) {
	background-color: #fafafa;
}

table th {
	padding: 5px 10px;
	text-align: left;
}

table th[align='center'] {
	text-align: center;
}

table td {
	font-size: 0.7em;
	padding: 10px;
}

#header {
	display: flex;
	margin: 10px 0 20px 0;
	align-items: center;
	justify-content: space-between;
}

.logo-container {
	display: flex;
	align-items: center;
}

#navigation-wrapper {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	box-shadow: 0 0 5px rgb(0 0 0 / 35%);
}

#navigation-wrapper .collapseNav {
	display: none;
}

#navigation-wrapper img {
	width: 100%;
}

#navigation {
	overflow-y: auto;
    max-height: calc(100% - 120px);
}

#navigation ul {
	list-style: none;
	padding-left: 20px;
}

#navigation ul li a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	width: calc(100% - 20px);
	padding: 5px 10px;
	font-size: 0.9em;
}

#navigation ul li a .fas {
	color: #777;
	float: right;
	font-size: 10px;
}

#navigation ul li a.active {
	font-weight: bold;
	color: #4937d7;
}

#navigation .sublinks li a.active {
	color: hsl(185deg 97% 35%);
}

#navigation h3 {
	color: hsl(247deg 67% 33%);
	padding: 0px 20px 0px 20px;
	margin: 0;
}

#content {
	width: calc(100% - 250px);
	height: 100vh;
	float: right;
}

#markdown {
	padding: 50px 100px;
	max-width: 1500px;
	margin: 50px auto;
	line-height: 1.5;
	background: white;
    border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    border: 1px solid #eee;
}

#markdown h2 {
	color: #4937d7;
	font-size: 1.5em;
	margin-top: 2em;
}

#markdown h2:first-of-type:not(h1 ~ h2),
#markdown h1 {
	color: #4937d7;
	border-bottom: 3px solid #4937d7;
    padding-bottom: 5px;
	font-size: 2em;
	margin-top: 0px;
}

#content iframe {
	width: 100%;
	height: 100vh;
	border: none;
}

.section .links {
	margin: 5px 0 20px;
}

.section .links .sublinks {
	font-size: 90%;
	margin: 0 10px;
}

pre {
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
	padding: 16px;
	overflow: auto;
	line-height: 1.2;
	background-color: #fafafa;
	border-radius: 0px;
	border: 1px solid #eee;
}

code:not([class]) {
	padding: 0.2em 0.4em;
	margin: 0;
	background-color: rgba(27,31,35,0.05);
	border-radius: 3px;
}

.fullscreen-content {
	width: auto;
	height: calc(100vh - 150px);
}

.fullscreen-content .img-404 {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1750px) {
	#markdown {
		margin: 0px auto;
		border-radius: 0px;
	}
}

@media only screen and (max-width: 767px) {
	#header {
		margin: 0;
	}

	#navigation {
		display: none;
	}

	#navigation.visible {
		display: unset;
	}

	#navigation-wrapper {
		width: 100%;
		position: relative;
		height: auto;
		padding: 10px 0;
	}

	#navigation-wrapper img {
		width: 100%;
		max-height: 80px;
	}

	#navigation-wrapper .collapseNav {
		display: unset;
		color: rgb(58, 35, 173);
		padding: 2em;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
	}

	#content {
		width: 100%;
		height: auto;
		float: unset;
	}

	#markdown {
		padding: 10px 30px;
	}
}