name: Merge

on:
  workflow_run:
    workflows: ["Publish"]
    types: [completed]

jobs:
  Merge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: "0"
          ref: "develop"

      - name: Set Github credentials
        run: |
          git config user.name searchspring-machine
          git config user.email machine@searchspring.com

      - name: Merge main into develop branch
        run: |
          git merge -X theirs origin/main
          git push