.ss-page-circle {
	width: 100px;
	height: 100px;
	background-color: #3a23ad;
	color: white;
	display: flex;
	margin: 20px auto;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 30px;
}


.ss__result {
	height: 450px !important;
}